* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
}

:root {
    --primary-color: #3b8e7d;
}


body {
    background: #3c3c3c05;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: var(--primary-color);
}

.container {
    background-color: #3b8e7d10;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto 0;
}

.input-task {
    border: none;
    border-radius: 10px;
    width: 329px;
    height: 40px;
    padding-left: 20px;
}

.btn-add {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 15px;
    width: 110px;
    background-color: var(--primary-color);
    color: white;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
}

.btn-add:hover {
    opacity: 0.8;
}

.list-task {

    width: 100%;
    list-style: none;
}

.task {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 15px;
}

.task:hover {
    background-color: #3b8e7d04;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

img:hover {
    cursor: pointer;
}

.edit-trash {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}

.done {
    background-color: #3b8e7d78;
    color: var(--text-color);
    text-decoration: line-through;
}

.done:hover {
    background-color: #3b8e7d78;
    color: var(--primary-color);
    text-decoration: line-through;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

div:where(.swal2-container) h2:where(.swal2-title) {
    font-size: 22px !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    background-color: var(--primary-color) !important;
    width: 90px !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
    background-color: grey !important;
    width: 90px !important;
}

div:where(.swal2-container) .swal2-html-container {
    color: #474747 !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    width: 20em !important;
}


/*Responsive*/
@media (max-width: 720px) {
    .container {
        width: 90%;
        padding: 15px;
        margin: 20px auto;
    }

    .input-task {
        width: 100%;
        margin: 10px 0;
        padding-left: 15px;
    }

    .btn-add {
        width: 100%;
        margin-left: 0;
        margin: 10px 0 10px 0;
    }

    .task {
        height: auto;
        padding: 10px;
    }

    .task img {
        height: 20px;
        opacity: 1;
    }

    .task p {
        margin: 5px 0;
        text-align: center;
        width: 100%;
    }
}